.background {
    overflow-y: scroll;
    height: 100%;
}

.content {
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    color: blue;
}

.content div {
    height: 100vh;
    scroll-snap-stop: always;
}

.image {
    height: 10px;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-box-shadow: 0 0 0 5px #ffffff80;
    box-shadow: 0 0 0 5px #ffffff80;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
    width: 48px;
    fill: #333;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f2f2f2;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


.copertina {
    width: 100%;
    height: 100%;
    object-fit: cover;
}