footer .logo-theweeknd {
    border: none !important;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4dvh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    /* From https://css.glass */
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border-radius: 0;
    height: 20dvh;
    width: 100%;
}

footer .info {
    display: flex;
    flex-direction: column;
    gap: 1dvw;
}

footer img {
    width: 10%;
}

footer .info .documentazione a {
    font-size: larger;
    transition: all 0.1s ease-in-out;
}

footer .info .documentazione a:hover {
    color: red;
    transform: scale(1.1);
}

footer svg {
    --size: 0.9em;
    width: var(--size);
    height: var(--size);
    transition: all 0.1s ease-in-out;
}

footer svg:hover {
    transform: scale(1.1);
}

footer .container {
    margin: 0;
    padding: 0;
}

footer .row {
    padding-top: 2dvh;
    width: 100%;
    position: relative;
    left: -1%;
}

footer .icons {
    display: flex;
    justify-content: center;
    gap: 2dvw;
}

@media screen and (min-width:768px) {

    footer .logo-container {
        position: relative;
        right: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        align-content: center;
    }

    footer .icon-section {
        display: flex;
        align-items: center;
        height: 100%;
    }

    footer {
        padding-bottom: 2dvh;
    }
}

@media screen and (max-width: 591px) {
    footer a {
        font-size: medium;
    }

    footer svg {
        --size: 1em;
    }

    footer img {
        width: 12%;
    }

    footer .icons {
        display: flex;
        justify-content: center;
        gap: 5dvw;
    }

    footer .documentazione a {
        font-size: small;
    }
}

@media screen and (min-width:768px) and (max-width:900px) {
    footer .row {
        position: relative;
    }
}

@media screen and (min-width:991px) {
    footer .documentazione {
        font-size: x-large;
    }

    footer svg {
        --size: 1.6em;
    }
}