.logo-theweeknd {
    border: none !important;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4dvh;
}

footer img {
    width: 30%;
}

footer a {
    font-size: xx-large;
}

footer svg {
    --size: 0.7em;
    width: var(--size);
    height: var(--size);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2dvw;
}

@media screen and (min-width:768px) {

    .logo-container {
        position: relative;
        right: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: nowrap;
        align-content: center;
    }

    .icon-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }

    footer {
        padding-bottom: 2dvh;
    }
}

@media screen and (min-width: 991px) {
    footer svg {
        --size: 1em;
    }
}


@media screen and (max-width: 591px) {
    footer a {
        font-size: medium;
    }

    footer svg {
        --size: 1em;
    }
}