body {
  background-color: black;
  background: url('../img/Wallpaper.png') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.loading {
  overflow: hidden;
  background-image: url('../img/low-quality.jpeg');
}


body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}