.scrollable-homepage {
    /* Rimuovi il background: transparent !important; */
    max-height: 90dvh;
    position: fixed;
    top: 10%;
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    background: transparent !important;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    color: white;
}

/* .scrollable-homepage::-webkit-scrollbar {
    display: none; */
/* Safari and Chrome */
/* } */


.glass-panel {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);

}

.griglia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15dvh;
}

/* Stili per schermi più grandi */
.item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 6dvw;
}

.item img {
    width: 44dvh;
    border-radius: 10px;
}

.header {
    background-color: transparent;
}

.paragraph {
    font-size: 2dvh;
    font-weight: bolder;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 25%;
}

.griglia .hello {
    display: flex;
    font-size: 10dvh;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 6dvh 0dvh 55dvh;
}

.paragraph-title {
    display: none;
}

.paragraph-title-bigger {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding-top: 3dvh; */
    font-size: 8dvh;
    font-weight: bolder;
    padding-bottom: 5dvh;
}

.goto-spotify {
    display: none;
}

.goto-spotify-bigger {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10dvh;
}

.scroll-section {
    max-height: 90dvh;
}



/* Stili per schermi più piccoli usando media queries */
@media screen and (max-width: 991px) {
    .grid-bigger {
        height: 80dvh;
    }

    .item {
        flex-direction: column;
        gap: 2dvh;
    }

    .item img {
        min-width: 30dvh;

        height: auto;
    }

    .paragraph {
        font-size: 2dvh;
        font-weight: bolder;
        color: white;
        padding-left: 5dvw;
        text-align: initial;
        max-width: 60dvw;
        margin-bottom: 2dvh;
    }

    .paragraph-title {
        position: relative;
        text-align: center;
        align-items: center;
        display: flex;
        /* align-content: center; */
        justify-content: center;
        /* padding-top: 3dvh; */
        font-size: 5dvh;
        font-weight: bolder;
    }

    .paragraph-title-bigger {
        display: none;
    }

    .goto-spotify {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 2dvh 0dvh;
    }

    .goto-spotify-bigger {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    .griglia {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25dvh;
    }

    .item {
        flex-direction: column;
        gap: 1.5dvh;
    }

    .item img {
        max-width: 40dvh;

    }

    .concert {
        width: 2dvh;
    }

}

@media screen and (max-width: 591px) {

    .item {
        flex-direction: column;
        gap: 5dvh;
    }

    .item img {
        max-width: 30dvh;

    }

    .concert {
        width: 2dvh;
    }
}

@media screen and (max-width: 400px) {
    .griglia {
        display: grid;
        grid-template-columns: 1fr;
        gap: 11dvh;
    }

    .item {
        flex-direction: column;
        gap: 1.5dvh;
    }

    .item img {
        max-width: 25dvh;

    }

    .paragraph {
        font-size: 1.8dvh;
        padding-left: 3dvw;
    }

    .concert {
        width: 2dvh;
    }
}

@media screen and (min-width: 991px) {
    .scroll-section:nth-child(even) .item {
        flex-direction: row-reverse;
    }

    .scroll-section:nth-child(odd) .item {
        flex-direction: row;
    }


    .grid-bigger {
        display: flex;
        gap: 2.5dvh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .biografia {
        gap: 9dvh;
        margin-bottom: 5dvh;
    }

    .griglia {
        gap: 30dvh;
    }


}

.goto-spotify.album,
.goto-spotify-bigger.album {
    text-decoration: underline;
    color: red;
}