.scrollable-homepage {
    /* Rimuovi il background: transparent !important; */
    max-height: 90dvh;
    position: fixed;
    top: 10%;
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    background: transparent !important;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    color: white;
}

.scrollable-homepage::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.glass-panel {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);

}

.griglia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15dvh;
}

/* Stili per schermi più grandi */
.item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 6dvw;
}

.item img {
    width: 40dvh;
    border-radius: 13px;
}

.paragraph {
    font-size: 2dvh;
    font-weight: bolder;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 25%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2dvh;
    margin-top: 5dvh;
}


.griglia .hello {
    display: flex;
    font-size: 10dvh;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 6dvh 0dvh 55dvh;
}


/* Stili per schermi più piccoli usando media queries */
@media screen and (max-width: 768px) {
    .item {
        flex-direction: column;
        gap: 2dvh;
    }

    .item img {
        max-width: 100%;
        height: auto;
    }

    .paragraph {
        font-size: 2dvh;
        font-weight: bolder;
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
        max-width: 60dvw;
        margin-bottom: 2dvh;
    }
}