:root {
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
}

.wrapper {
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    height: 40dvh;
    transition: all 0.2s ease-in-out;
    margin-bottom: 37dvh;
    font-size: 5dvw;
}

.wrapper>div {
    background-clip: text;
    -webkit-background-clip: text;
    color: #363833;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
}

.wrapper:hover {
    transform: scale(1.2);
}

div.bg {
    background-image: repeating-linear-gradient(105deg,
            var(--gold) 0%,
            var(--dark-shadow) 5%,
            var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
}

div.fg {
    background-image: repeating-linear-gradient(5deg, var(--gold) 0%, var(--light-shadow) 23%, var(--gold) 31%);
    color: #970001;
    transform: scale(1);
}

@media (max-width: 991px) {
    .wrapper>div {
        font-size: 10dvw;
    }
}